# Variable

In [1]:
x = 'hallo'

In [2]:
x

'hallo'

In [3]:
type(x)

str

# Conditionals

In [4]:
angka = 20

if angka > 10:
    print('angka diatas 20')

angka diatas 20

In [5]:
angka >10

True

In [6]:
angka = 70
def nilaichecker(num):
    if 80<= num <=100:
        print('A')
    elif 70<= num <80:
        print('B')
    elif 60<= num <70:
        print('C')
    elif 40<= num <60:
        print('D')
    elif 0<= num <40:
        print('E')
nilaichecker(angka)

B

# Looping

In [9]:
i = 1
j = 0

while i <=10:
    print(f'perkalian {i}')
    while j <= 10:
        print(f'{i} x {j} = {i*j}')
        j+=1
    print('-'*10) 
    i+=1
    j = 1

perkalian 1
1 x 0 = 0
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
----------
perkalian 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
----------
perkalian 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
----------
perkalian 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
----------
perkalian 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
----------
perkalian 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
----------
perkalian 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
----------
perkalian 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
----------
perkalian 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
----------
perkalian 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
----------

In [8]:
cities = ['Bandung','Balikpapan','Tasikmalaya','Malang']

for nama in cities:
    print(nama)
    print('-'*10)

Bandung
----------
Balikpapan
----------
Tasikmalaya
----------
Malang
----------

In [9]:
for i in range(1,11):
    for j in range(1,11):
        print(f'{i} x {j} = {i*j}')
    print('-'*10)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
----------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
----------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
----------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
----------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
----------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
----------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
----------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
----------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
----------
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
----------

# Control Flow Statement

### Continue

In [8]:
i = 0 

while i <= 10:
    i += 1
    if i % 2 == 1:
        continue
    print(i)

2
4
6
8
10

### Break

In [11]:
i = 0 

while i <= 10:
    i += 1
    if i == 7:
        break
    print(i)

1
2
3
4
5
6

#### Practice

In [26]:
skor = {"Rafif": 70, "Fauzi": 80,"Ali": 75, "Danang": 55, "Bowo": 120}
skor.items()

dict_items([('Rafif', 70), ('Fauzi', 80), ('Ali', 75), ('Danang', 55), ('Bowo', 120)])

In [17]:
for nama, nilai in skor.items():
    print(nama)
    print(nilai)
    print('-'*20)

Rafif
70
--------------------
Fauzi
80
--------------------
Ali
75
--------------------
Danang
55
--------------------

In [29]:
grade = {}

for nama, nilai in skor.items():
    if 0< nilai < 100:
        if nilai >=80:
            grade[nama] = 'A'
        elif nilai>=70:
            grade[nama] = 'B'
        elif nilai>=60:
            grade[nama] = 'C'
        elif nilai>=60:
            grade[nama] = 'D'
        else:
            grade[nama] = 'E'
    else:
        grade[nama] = 'Error'

grade

{'Rafif': 'B', 'Fauzi': 'A', 'Ali': 'B', 'Danang': 'E', 'Bowo': 'Error'}

In [18]:
skor

{'Rafif': 70, 'Fauzi': 80, 'Ali': 75, 'Danang': 55}